<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <META NAME="description" CONTENT="The personal website of Caleb Phillips.">
    <META NAME="keywords" CONTENT="software,opensource,science,research,wireless,caleb phillips,caleb,phillips">
    <META NAME="robot" CONTENT="index,follow">
    <META NAME="author" CONTENT="Caleb Phillips">
    <META NAME="language" CONTENT="English">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
